*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
body{
    margin: 0 50px;
}
header{
    background-color:#333333;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 48pt;
    font-weight: 100;
    color: white;
    margin-left: 50pt;
}
h1:hover{
    cursor: pointer;
}
header a:link{
    text-decoration: none;
    color: white;
    margin-left: 15pt;
}
header a{
    color: white;
}
nav{
    margin-left: auto;
    margin-right: 32pt;
}
.sub-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sub-header a:link{
    color: black;
    text-decoration: none;
    margin-left: 16pt;
    font-size: 16pt;
}
.sub-header a{
    color: #333333;
}
input{
    margin-left: auto;
    margin-right: 32pt;
    width: 150pt;
    height: 25pt;
}
article{
    display: flex;
    background-color: #e8e8e8;
    align-items: center;
    justify-content: space-around;
}
p strong{
    font-size: 58pt;
    color: #333333;
    margin-left: auto;
    margin-right: auto;
    font-weight: 100;
}
.article-para{
    font-size: 15pt;
    color: #333333;
    line-height: 2;
}
.aside1{
    display: flex;
    justify-content: space-evenly;
    align-items:  center;
}
.aside1-container p{
    text-align: justify;
    display: block;
}
.aside1-container p:hover{
    cursor: pointer;
}
.aside1-container img{
    width: 140px;
    height: 160px;
}
.items{
    margin-left: 35px;
    font-size: 30pt;
}
.aside2-1{
    display: flex;
    justify-content: space-evenly;
    align-items:  center;
}
.aside2-2{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items:  center;
}
.aside2-container p{
    text-align: center;
    display: block;
    color: #333333;
    font-size: 20pt;
}
.aside2-container p:hover{
    cursor: pointer;
}
.aside2-container{
    background-color: #dbf3fa;
}
.aside2-container img{
    width: 140px;
    height: 160px;
    padding: 4px 4px 10px 4px;
}
.categories a:link{
    text-decoration: none;
    margin: 3px;
}
.categories{
    margin-left: 40px;
}
.categories a{
    font-size: 14pt;
    color: #333333;
}
.categories p{
   margin: 20px 0;
}
footer{
    background-color: #131a22;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    color: white;
}
footer div p{
    font-size: 18pt;
    margin-bottom: 10px;
    margin-top: 20px;
}
ul{
    list-style: none;
}
li{
    font-size: 16pt;
    margin-bottom: 10px;
}
li:hover{
    cursor: pointer;
}
